:root {
    --md-hue:                        227;

    --md-primary-fg-color:           #7289da;
    --md-primary-fg-color--light:    #7289DA;
    --md-primary-fg-color--dark:     #7289DA;

    --md-primary-bg-color:           #FFFFFF;
    --md-primary-bg-color--light:    #23272A;

    --md-default-bg-color:           #FFFFFF;
    --md-default-bg-color--light:    #23272A;
    --md-default-bg-color--dark:     #23272A;

    --md-default-fg-color--lightest: hsla(var(--md-hue), 75%, 90%, 0.12);

    --md-accent-fg-color:            #4E5D94;
}

.md-typeset .tabbed-set {
    background-color: var(--md-accent-fg-color);
}

.md-typeset .tabbed-set .tabbed-content {
    background-color: var(--md-default-bg-color);
}

.md-typeset .tabbed-set > input + label {
    /*border-right: 1px solid var(--md-default-fg-color--lightest);*/
    /*border-bottom: 1px solid var(--md-default-fg-color--lightest);*/
}

.md-typeset .tabbed-set > input:last-of-type + label {
    border-right: none;
}

html .md-typeset .tabbed-set > label:hover {
    color: var(--md-primary-bg-color);
}

.md-typeset .tabbed-set > input:checked + label {
    background-color: var(--md-primary-fg-color);
    border-bottom-color: var(--md-primary-bg-color);
    color: var(--md-primary-bg-color);
}
