[data-md-color-scheme="default"] {
    --md-hue:                        227;

    --md-primary-fg-color:           #7289da;
    --md-primary-fg-color--light:    #7289DA;
    --md-primary-fg-color--dark:     #7289DA;

    --md-primary-bg-color:           #FFFFFF;
    --md-primary-bg-color--light:    #FFFFFF;

    --md-default-bg-color:           #FFFFFF;
    --md-default-bg-color--light:    #FFFFFF;
    --md-default-bg-color--dark:     #FFFFFF;

    --md-default-fg-color--lightest: hsla(var(--md-hue), 75%, 90%, 0.12);

    --md-accent-fg-color:            #7289da;

    --md-accent-bg-color--light:     #DEDEDE;
    --md-accent-fg-color--light:     #97A9E8;
}

[data-md-color-scheme="slate"] {
    --md-hue:                        227;

    --md-primary-fg-color:           #7289da;
    --md-primary-fg-color--light:    #7289DA;
    --md-primary-fg-color--dark:     #7289DA;

    --md-primary-bg-color:           #FFFFFF;
    --md-primary-bg-color--light:    #23272A;

    --md-default-bg-color:           #23272A;
    --md-default-bg-color--light:    #FFFFFF;
    --md-default-bg-color--dark:     #FFFFFF;

    --md-default-fg-color--lightest: hsla(var(--md-hue), 75%, 90%, 0.12);

    --md-accent-fg-color:            #4E5D94;
}

.md-search__input::placeholder{
    color: #FFFFFF;
}

.md-typeset .tabbed-set {
    background-color: var(--md-accent-fg-color);
}

.md-typeset .tabbed-set > input + label {
    /*border-right: 1px solid var(--md-default-fg-color--lightest);*/
    /*border-bottom: 1px solid var(--md-default-fg-color--lightest);*/
}

.md-typeset .tabbed-set > input:last-of-type + label {
    border-right: none;
}

[data-md-color-scheme="default"] .md-typeset .tabbed-set > label {
    color: var(--md-accent-bg-color--light);
}

html .md-typeset .tabbed-set > label:hover {
    color: var(--md-primary-bg-color);
}

.md-typeset .tabbed-set > input:checked + label {
    border-bottom: none;
}

[data-md-color-scheme="default"] .md-typeset .tabbed-set > input:checked + label {
    background-color: var(--md-accent-fg-color--light);
    color: var(--md-primary-bg-color);
}

[data-md-color-scheme="slate"] .md-typeset .tabbed-set > input:checked + label {
    background-color: var(--md-primary-fg-color);
    color: var(--md-primary-bg-color);
}
