name: CI (PRs/branches)

on:
  push:
    branches-ignore:
      - "gh-pages"

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Set up Java
        uses: actions/setup-java@v1

        with:
          java-version: 1.14

      - name: Set up Gradle properties
        run: |
          mkdir -p ~/.gradle
          echo "org.gradle.jvmargs=-XX:MaxMetaspaceSize=5G" >> ~/.gradle/gradle.properties

      - name: Gradle (Build)
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build

      - name: Upload artifact (Extra Module JARs)
        uses: actions/upload-artifact@v2

        with:
          name: JARs (Extra Modules)
          path: extra/*/build/libs/*.jar

      - name: Upload artifact (Main JARs)
        uses: actions/upload-artifact@v2

        with:
          name: JARs (Main)
          path: kord-extensions/build/libs/*.jar

      - name: Upload artifact (Module JARs)
        uses: actions/upload-artifact@v2

        with:
          name: JARs (Modules)
          path: modules/*/build/libs/*.jar
