name: Publish

on:
  push:
    branches:
      - "develop"
      - "forums"

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Set up Java
        uses: actions/setup-java@v1

        with:
          java-version: 1.14

      - name: Set up Gradle properties

        run: |
          mkdir -p ~/.gradle
          echo "githubToken=${{ secrets.GITHUB_TOKEN }}" >> ~/.gradle/gradle.properties
          echo -e "\norg.gradle.jvmargs=-XX:MaxMetaspaceSize=5G" >> ~/.gradle/gradle.properties

      - name: Gradle (Build)
        uses: gradle/gradle-build-action@v2
        with:
          arguments: checkLicenses build

      - name: Gradle (Publish)
        uses: gradle/gradle-build-action@v2

        env:
          ORG_GRADLE_PROJECT_signingKey: "${{ secrets.GPG_KEY }}"
          ORG_GRADLE_PROJECT_signingPassword: "${{ secrets.GPG_PASSWORD }}"

          OSSRH_USERNAME: "${{ secrets.OSSRH_USERNAME }}"
          OSSRH_PASSWORD: "${{ secrets.OSSRH_PASSWORD }}"

        with:
          arguments: publish

      - name: Upload artifact (Extra Module JARs)
        uses: actions/upload-artifact@v2

        with:
          name: JARs (Extra Modules)
          path: extra-modules/*/build/libs/*.jar

      - name: Upload artifact (Main JARs)
        uses: actions/upload-artifact@v2

        with:
          name: JARs (Main)
          path: kord-extensions/build/libs/*.jar

      - name: Upload artifact (Module JARs)
        uses: actions/upload-artifact@v2

        with:
          name: JARs (Modules)
          path: modules/*/build/libs/*.jar

