name: Publish

on:
  push:
    branches-ignore:
      - "root"

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Set up Java
        uses: actions/setup-java@v1

        with:
          java-version: 1.14

      - name: Set up Gradle properties
        run: |
          mkdir -p ~/.gradle
          echo "githubToken=${{ secrets.GITHUB_TOKEN }}" >> ~/.gradle/gradle.properties
          echo -e "\norg.gradle.jvmargs=-XX:MaxMetaspaceSize=5G" >> ~/.gradle/gradle.properties

      - name: Gradle (Build)
        run: sh gradlew kord-extensions:build java-time:build

      - name: Gradle (Publish)
        run: sh gradlew -Pkotdis.user=${{ secrets.MAVEN_USER }} -Pkotdis.password=${{ secrets.MAVEN_PASSWORD }} kord-extensions:publish java-time:publish

      - name: Upload artifact (JARs)
        uses: actions/upload-artifact@v2

        with:
          name: JARs
          path: kord-extensions/build/libs/kord-extensions-*.jar

      - name: Upload artifact (Java Time JARs)
        uses: actions/upload-artifact@v2

        with:
          name: JARs
          path: java-time/build/libs/java-time-*.jar
